@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html::-webkit-scrollbar
  {
    display: none;
  }
  html{
    -webkit-font-smoothing: antialiased;
    font-smooth: antialiased;
  }
  .clip {
    clip-path: polygon(0% 0%, 100% 0%, 100% 89.6%, 91.78% 96.01%, 0% 84.3%);
  }
  .mdclip{
    clip-path: polygon(0 0,100% 3%,100% 96%,0% 100%);
  }
  .fnt {
    font-family: "mulish-variable", sans-serif;
    font-feature-settings: "kern";
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  }
  .fntbold {
    /* font-variation-settings: "wght" 500; */
  }
  .smooth {
    -webkit-font-smoothing: antialiased;
  }
  .featureDiv:hover .featureSVG{
    animation: boxshadow 1s 1;
    filter: drop-shadow(7px 7px 12px rgb(0 0 0 / 0.4));
  }
  @keyframes boxshadow {

    50%{
      filter: drop-shadow(0px 0px 0px rgb(0 0 0 / 0.4));
    }
  }
  .gradient{
    background: linear-gradient(180deg, rgba(74, 144, 245, 0.21) -34.7%, rgba(125, 186, 244, 0.063) 100%, rgba(125, 186, 244, 0.1295) 100%);
  }
  .featureDiv2:hover .featureSVG2{
    animation: boxshadow2 1s 1;
    filter: drop-shadow(7px 7px 12px rgb(12, 5, 5));
  }
  @keyframes boxshadow2 {

    50%{
      filter: drop-shadow(0px 0px 0px rgba(10, 8, 8, 0.4));
    }
  }
  .bgpos{
    background-position: -400px 0;
  }
  .bg0pos{
    background-position: 0px 0px;
  }
  .bgSize2000{
    background-size: 2000px 100%;
  }

  .no-flickr {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .ani-merchant{
    animation: merchant 28.760416666666668s linear 0s infinite;
    animation-play-state: running;
    animation-direction: normal;
  }
  
  @keyframes merchant {
    0%{
      transform: translateY(0%);
    }
    100%{
      transform: translateY(-100%);
    }
    
  }
  .quote::before{
    content: "";
    background-image: url(./Assets/quotes-icon.svg);
    height: 40px;
    width: 35px;
    position: absolute;
    top: -2rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer{
    background: linear-gradient(to right, #eef9fe, #edf7ff);
  }

}
