@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .clip {
      clip-path:polygon(0% 0%,100% 0%,100% 89.6%,91.78% 96.01%,0% 84.3%);
    }
    .fnt{
      font-family: "mulish-variable", sans-serif;
      font-variation-settings: "wght" 200;
    }
    .smooth{
      -webkit-font-smoothing: antialiased;
    }
}