@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip {
    clip-path: polygon(0% 0%, 100% 0%, 100% 89.6%, 91.78% 96.01%, 0% 84.3%);
  }
  .fnt {
    font-family: "mulish-variable", sans-serif;
    font-feature-settings: "kern";
  }
  .fntbold {
    font-variation-settings: "wght" 500;
  }
  .smooth {
    -webkit-font-smoothing: antialiased;
  }
  .featureDiv:hover .featureSVG{
    animation: boxshadow 1s 1;
    filter: drop-shadow(7px 7px 12px rgb(0 0 0 / 0.4));
  }
  @keyframes boxshadow {

    50%{
      filter: drop-shadow(0px 0px 0px rgb(0 0 0 / 0.4));
    }
  }
  .gradient{
    background: linear-gradient(180deg, rgba(74, 144, 245, 0.21) -34.7%, rgba(125, 186, 244, 0.063) 100%, rgba(125, 186, 244, 0.1295) 100%);
  }

}
